body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.video-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.video-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    background: #000;
}

video {
    width: auto;
    height: 100%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}